[Desktop Entry]
Name=WebGL Test
Type=Application
Exec=xwalk-launcher http://www.deadliners.net/68000Reasons/
Icon=/usr/share/icons/tizen/32x32/webgl.png
